{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block body %}
    <h1 class="mt-3 mb-3">Please sign in</h1>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div  class="row-form" style="width: 400px;">
    <label for="inputEmail" class="form-label">Email</label>
        <div class="mb-3">
            <input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        </div>
    <label for="inputPassword" class="form-label">Password</label>
        <div class="mb-3">
            <input type="password" name="_password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        </div>
    <button type="submit" class="btn login-btn" >
        Sign in
    </button>
    </div>
</form>

        <div id="creation" class="row-form login-row">
            <h2 class="title small-title" style="margin-top: 0;">First visit</h2>
            <strong>New user&nbsp;? <a id="linkRegister" class="text-link" href="/register" title="Run to register page" style="color: #ff6c71;">I create my account</a></strong>
        </div>
{% endblock %}
