.col-question {
    border-color: #ff6c71;
    border-radius: 5px;
    border-style: solid;
    padding: 22px;
    margin-bottom: 30px;
    box-shadow: 6px 6px 6px #808080;
    margin-right: auto !important;
    margin-left: auto !important;
    width: 850px;
    background-color: #fff;
}

.row-form {
    border-color: #ff6c71;
    border-radius: 5px;
    border-style: solid;
    padding: 22px;
    width: 850px;
    margin-bottom: 30px;
    box-shadow: 6px 6px 6px #808080;
    background-color: #fff;
}

.col {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.form-label {
    color: #ff6c71;
    font-size: x-large;
    font-weight: bold;
}

.mb-3 {
    display: flex;
    flex-direction: column;
}

#question_title, #inputEmail, #inputPassword, #contact_fullName, #contact_email, #contact_subject {
    height: 30px;
}

button.btn {
    margin-bottom: 30px;
    font-size: large;
    font-weight: bold;
    color: #ff6c71;
    border-bottom-color: #ff6c71;
    border-left-color: #ff6c71;
    border-right-color: #ff6c71;
    border-top-color: #ff6c71;
    text-decoration-color: #ff6c71;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
}

.invalid-feedback {
    color: red;
    font-weight: bold;
}

.flash-info {
    background-color: greenyellow;
    width: 350px;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin: auto;
    box-shadow: 5px 5px 5px black;
    color: #6e6e6e;
    font-weight: bold;
}

