@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Permanent+Marker&family=Poppins:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500|PT+Sans+Narrow:400,700|Play:400,700|Ubuntu+Condensed&display=swap&subset=cyrillic');

html {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --clr: rgb(234, 234, 234);
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--clr);
}

.navigation{
    width: 900px;
    height: 70px;
    background: #3d3c3c;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    margin-top: 30px;
}
.navigation ul{
    display: flex;
    width: 850px;
    justify-content: space-around;
}
.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navigation ul li a {
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color:var(--clr);
}
.navigation ul li.active a .icon {
    transform: translateY(-35px);
}
.navigation ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight:400;
    font-size: 0.7em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}
.indicator {
    position: absolute;
    top: -60%;
    right: 84.7%;
    width: 70px;
    height: 70px;
    background: #ff6c71;
    border-radius: 50px;
    border: 6px solid var(--clr);
    transition: 0.5s;
}
.indicator::before {
    content:'';
    position: absolute;
    top: 50%;
    left: -20px;
    width: 18px;
    height: 18px;
    background:transparent;
    border-top-right-radius: 18px;
    box-shadow: 1px -10px 0 0 var(--clr);
}
.indicator::after {
    content:'';
    position: absolute;
    top: 50%;
    right: -20px;
    width: 18px;
    height: 18px;
    background: transparent;
    border-top-left-radius: 18px;
    box-shadow: -1px -10px 0 0 var(--clr);
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(140px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(140px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(141.5px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(141.5px * 4));
}

.breadcrumb-bar {
    width: 200px;
    height: 30px;
    background: #bfb7b7;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 10px;
}

footer {
    background-color: rgb(255, 108, 113);
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    height: 120px;
    line-height: 24px;
    text-size-adjust: 100%;
    visibility: visible;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h5.mb-1 {
    font-size: 20px;
}

.list-unstyled , .footer-copyright{
    background-color: rgb(255, 108, 113);
    display: block;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-inline-start: 0;
    padding-left: 0;
    text-align: center;
}

.list-inline-item {
    display: inline-block;
    padding: 0 20px;
}

.footer-copyright {
    font-size: 10px;
}

a {
    text-decoration: none;
    color: #fffbfb;
}

.btn {
    align-items: flex-start;
    appearance: button;
    background-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgb(251, 251, 251);
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(251, 251, 251);
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: rgb(251, 251, 251);
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: rgb(251, 251, 251);
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
    border-top-style: solid;
    border-top-width: 2px;
    box-shadow: none;
    box-sizing: border-box;
    color: rgb(251, 251, 251);
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-stretch: 100%;
    letter-spacing: normal;
    line-height: 18px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 8px;
    text-align: center;
    text-decoration-color: rgb(251, 251, 251);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-indent: 0;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: uppercase;
    transition-delay: 0s, 0s, 0s, 0s;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    transition-property: color, background-color, border-color, box-shadow;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    user-select: none;
    vertical-align: bottom;
    width: 97.0156px;
    word-spacing: 0;
    writing-mode: horizontal-tb;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-border-image: none;
}

/** Home page  */
.question-home {
    margin: 8px;
    width: 375px;
    position: relative;
    background-color: #3d3c3c;
    border: 1px solid #3d3c3c;
    border-radius: 5px;
    transition: box-shadow 0.15s ease-out 0s;
    overflow: hidden;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
}

.more {
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    opacity: 0;
    transition: opacity 0.15s linear 0s;
}
.home-content-question:hover .more{
    opacity: 1;
}

.btn.dark {
    align-items: flex-start;
    appearance: button;
    background-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgb(33, 33, 33);
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(33, 33, 33);
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: rgb(33, 33, 33);
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: rgb(33, 33, 33);
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
    border-top-style: solid;
    border-top-width: 2px;
    box-shadow: none;
    box-sizing: border-box;
    color: rgb(33, 33, 33);
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-stretch: 100%;
    letter-spacing: normal;
    line-height: 18px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 8px;
    text-align: center;
    text-decoration-color: rgb(251, 251, 251);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-indent: 0;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: uppercase;
    transition-delay: 0s, 0s, 0s, 0s;
    transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    transition-property: color, background-color, border-color, box-shadow;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    user-select: none;
    vertical-align: bottom;
    width: 130px;
    word-spacing: 0;
    writing-mode: horizontal-tb;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-border-image: none;
}

.row-doc {
    display: inline-flex;
}

.col-sm.doc {
    width: 200px;
    height: 100px;
}

.row-doc>a {
    color: black;
}

.w3-card-2.w3-round.ws-pink>h5 {
    text-align: center;
    font-weight: 500;
    margin-top: 33px;
}

a.title-question {
    text-decoration: none;
    color: #ff6c71;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.status {
    margin-right: 30px;
}

a.contact {
    text-decoration: none;
    color: #ff6c71;
    font-weight: bold;
}

a.contact:hover {
    text-decoration: none;
    color: #e8383e;
    font-weight: bold;
}

/* about */
.about{
    margin-top:10px;
    width: 900px;
}
.contenant{
    position: relative;
    text-align: center;
}
.click{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
}
.click:hover{
    color: #ff6c71;;
}

/* contact */
.btn.contact {
    margin-top: 15px;
    background-color: #ff6c71;
    color: #dfdfdf;
    border-bottom-color: #9d4447;
    border-left-color: #9d4447;
    border-right-color: #9d4447;
    border-top-color: #9d4447;
}

/* home */

.home {
    padding-top: 140px;
    background-image: url('/images/home.png');
    background-repeat: no-repeat;
    border-radius:10px;
    width: 70%;
    height: 400px;
    color:whitesmoke;
    text-align: center;
    text-shadow: 3px 5px 2px #000;
}

.container-home {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 16px;
    width: 70%;
    -webkit-box-pack: center;
    justify-content: center;
}

.col-sm.question-home {
    margin: 8px;
    height: 200px;
    position: relative;
    background-color: #3d3c3c;
    border: 1px solid #3d3c3c;
    border-radius: 5px;
    transition: box-shadow 0.15s ease-out 0s;
    overflow: hidden;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
}

.home-content-question {
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.home-title-question {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 16px;
}

.imgTag {
    width: 32px;
    height: auto;
    border-radius: 5px;
    margin-right: 8px;
    border: 2px solid rgb(255, 255, 255);
}

.questionTitleHome {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.questionContentHome {
    padding: 0 16px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    color: #f8f8f8;
}

.status-home {
    position: initial;
    padding: 2px;
    margin-bottom: 8px;
    margin-left: 8px;
    text-align: center;
    border-radius: 50px;
}

.more>a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
    width: 130px;
    color: #484848;
    background-color: #fff
}

.more {
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    opacity: 0;
    transition: opacity 0.15s linear 0s;
}
.home-content-question:hover .more {
    opacity: unset;
}

.tech {
    font-weight: 500;
}

/* my question */

.col-lg-1.myquestion {
    margin-right: 20px;
    margin-left: 30px;
    padding-right: 70px;
}
