<footer class="page-footer font-small unique-color-dark pt-4" style="background-color: #ff6c71; width: 100%; margin-top: 50px;">

    <div class="container">
        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <h5 class="mb-1">Register for free</h5>
            </li>
            <li class="list-inline-item">
                <a href="/register" class="btn btn-outline-white btn-rounded">Sign up!</a>
            </li>
            <li>
                <a href="#"><img src="/images/logo-github.svg" height="2%" width="2%"></a>
            </li>
        </ul>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/" style="color: #fcf8e3"> MDBootstrap.com</a>
    </div>
</footer>
